<p id="notice"><%= notice %></p>

<h1>Who Are You Looking For?</h1>

  <% @users.each do |user| %>
    <div class="user">
      <%= link_to user do %>
        <div class="image">
          <%= image_tag user.img, class: 'thumbnail' %>
        </div>
        <div class="name">
          <%= user.first_name %>
          <%= user.last_name %>
        </div>
      <% end %>
    </div>
  <% end %>
