// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user * {
  margin: 10px 0;
  display: inline-flex;
  width: 40%;
}
.name {
  padding-top: 50px;
  padding-left: 30px;
}
.thumbnail {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  vertical-align: middle;
}
.show_img {
  margin: 10px auto;
}
#longitude, #latitude {
  display: none;
}
